* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

input:focus, textarea:focus {
  outline: none;
}

h1 {
  margin: 0;
}

.offer {
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.offer__right {
  margin-right: 3em;
  position: relative;
  z-index: 3;
}

.offer__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__main-text {
  font-size: 1.3em;
  padding-top: 10em;
  color: white;
  text-align: left;
  line-height: 3em;
}

.offer__main-descr {
  margin-top: 5em;
  color: #dfdb14;
  text-align: left;
  font-size: 1em;
  line-height: 2em;
}

.offer__adv {
  margin-top: 5em;
  margin-bottom: 12em;
}

.offer__adv-item {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__adv-item img {
  width: 3em;
  display: inline;
  margin-right: 1em;
}

.offer__adv-text {
  color: #F3F4F5;
  display: inline;
  font-size: 0.8em;
}

.offer__green {
  color: #00ff00;
}

.offer__coolman {
  margin: 0 auto;
  width: 18em;
  position: absolute;
  right: 45%;
  bottom: 0;
  z-index: 1;
}

.offer .separator svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/**     animation-name: hanging
    animation-duration: 3s
    animation-iteration-count: infinite
    animation-direction: alternate
    animation-timing-function: ease-in-out
    transform-origin: center top */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em;
  width: 20em;
  height: 17em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dfdb14;
  border-radius: 25px;
  -webkit-box-shadow: 0 7px 9px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 7px 9px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 1;
}

.form__caption {
  padding-top: 2em;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.1em;
  color: #180cbb;
}

.form__description {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.form__wrapper input {
  margin-top: 1em;
}

.form input {
  display: block;
  outline: 0;
  font-size: 0.8em;
}

.form input:not([type="submit"]) {
  padding: 1em 7em 1em 1.5em;
  background: #fefef9;
  border: 1px solid #e2d413;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 25px;
}

.form input[type="submit"] {
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 2em;
  padding: 0.7em 3em;
  color: #180cbb;
  background: #00ff00;
  outline: none;
  border: 1px solid #dfdb14;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.form input[type="submit"]:hover {
  cursor: pointer;
  border: 1px solid #3b6947;
}

@-webkit-keyframes hanging {
  0% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@keyframes hanging {
  0% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

#paper-pin {
  position: absolute;
  top: -2em;
  left: 45%;
  width: 60px;
  height: 60px;
  -webkit-transform: translate(30%, 0);
          transform: translate(30%, 0);
  z-index: 100;
}

.services {
  background-color: #F3F4F5;
}

.services__wrap {
  min-height: 50vh;
}
/*# sourceMappingURL=style.css.map */