.offer
    background-image: url(../img/bg2.jpg)
    background-repeat: no-repeat
    background-size: cover
    min-height: 100vh
    position: relative
    &__wraper
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
    &__main-text
        font-size: 1.3em
        padding-top: 6em
        color: $white-text
        text-align: left
        line-height: 3em
    &__main-descr
        margin-top: 3em
        color: $yellow-text
        text-align: left
        font-size: 1em
        line-height: 2em
    &__adv
        margin-top: 3em
    &__adv-item
        margin-top: 1em
        display: flex
      
    &__adv-item img
        width: 3em
        display: inline
        margin-right: 1em
    &__adv-text
        color: $main-color
        display: inline
        font-size: 0.8em
    &__green
        color: $green
    &__coolman
        margin: 0 auto
        width: 16em
        position: absolute
        right: 45%
        bottom: 0
        z-index: 1
    & .separator svg
        position: absolute
        left: 0
        bottom: 0
        width: 100%

